/*nav-bar start*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

.nav-bar {
    width: 100%;
    height: 30px;
    background-color: #2F3B11;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
    top: 0;
}

li {
    display: inline-block;
    padding-left: 60px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    margin-left: 100px;

}

@media (max-width:600px) {
    ul {
        display: none;
    }

    .icon {
        display: block;
        padding-right: 20px;
        width: 20px;
        height: 20px;
    }
}

@media (min-width:600px) {
    .icon {
        display: none;
    }
}

/* nav bar end*/
/*start background pransubal*/
.image {
    background-image: url(image/ziton-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: fit-content;
    width: 100vw;
    height: 100vh;
    display: flex;
    

}
.image1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.backimage {
    background: rgba(22, 8, 0, 0.80);
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

/*final background pransubal*/


/*start lolivier*/


.m9as {
    
    background-color: yellowgreen;
    width: 400px;
    height: 500px;
    
    z-index: 10;
    border-radius: 30px;
    background-image: url(image/Rectangle\ 13.png);
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.text {
    width: 400px;
    height: 40px;
    
    
    z-index: 50;

}

.text h1 {
    color: #E9D473;
}

.text p {
    line-height: 2.8;
    color: white;
    margin-top: 40px;
}

.FA9RA {
    
    background-color: transparent;
    width: 1350px;
    height: 500px;
   
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.FA9RA p {
    line-height: 2.8;
    text-align: center;
    color: white;
    margin: 40px;
    font-size: 16.5px;
}

.TITLE {
    width: 550px;
    height: 40px;
    
    z-index: 50;

}

.TITLE h2 {
    color: #E9D473;
    font-size: 50px;
}

.MED {
    
    background-color: transparent;
    width: 1350px;
    height: 205px;
   
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.MED p {
    line-height: 2.8;
    text-align: center;
    color: white;
    margin: 40px;
    font-size: 16.5px;
}

.TITLE11 {
    width: 550px;
    height: 40px;
   
    
    z-index: 50;

}

.TITLE11 h2 {
    color: #E9D473;
    font-size: 50px;
}

.ANAS {
    
    background-color: transparent;
    width: 1350px;
    height: 205px;
    
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.ANAS p {
    line-height: 2.8;
    text-align: center;
    color: white;
    margin: 40px;
    font-size: 16.5px;
}

.TITLE22 {
    width: 550px;
    height: 40px;
    
    
    z-index: 50;

}

.TITLE22 h2 {
    color: #E9D473;
    font-size: 50px;
}

/*start fream amazon*/
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;

}

.GRAND-DIV {
    width: 300px;
    height: 500px;
    margin-top: 100px;
    background-color: rgba(71, 59, 24, 0.374);
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.GRAND-DIV h1 {
    padding-left: 20px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

.GRAND-DIV p {
    padding-left: 20px;
    font-size: 30px;
    margin: 0 0 5px 0;
    color: #ffffff;
}

h3 {
    padding-left: 20px;
    font-size: 30px;
    margin: 0 0 30px 0;
    color: #ffffff;
}

.IMAGE-DIV-1 {
    width: 300px;
    height: 250px;
    background-image: url(image/image\ 3.png);
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;

}
.image{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.IMAGE-DIV-2 {
    width: 300px;
    height: 250px;
    background-image: url(image/image\ 5\ \(1\).png);
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;

}

.IMAGE-DIV-3 {
    width: 300px;
    height: 250px;
    background-image: url(image/image\ 4.png);
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;

}


.BTTON-TEXT {
    text-decoration: none;

    padding: 20px 20px;
    color: #160800;




}

.btton {
    width: fit-content;
    background-color: #E9D473;
    display: flex;
    margin: auto;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

/*final fream amazon*/
.footer {
    margin-left: 630px;
    color: #3a1e01;
    padding: 20px;
}

/*final lolivier*/

.fream_amazon {
    margin-top: 145px;
    margin-left: 33px;
    width: 1450px;
    height: 550px;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}


.GRAND_SECTION {
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 100px;

}



.DIV_PUCTEUR {
    width: 397px;
    height: 500px;
    background-image: url(image/image\ 6.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.MOKHLIS {
    width: 700px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}

.MOKHLIS h1 {
    font-size: 40px;
    color: #F4E780;
    margin: 20px 0px 5px 170px;
}



.DIV_BUTTON {
    width: fit-content;
    background-color: rgb(247, 247, 247);
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-between;
}

.DIV_BOTTOM {
    
    height: 80px;
    margin-top: 309px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}
.logo_amazon{
 
   display: flex; 
   
}
.IMAGE-DIV-4 {
    width: 300px;
    height: 250px;
    background-image: url(image/image\ 8.png);
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;

}
.IMAGE-DIV-5 {
    width: 300px;
    height: 250px;
    background-image: url(image/image\ 9.png);
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;

}
.IMAGE-DIV-6 {
    width: 300px;
    height: 250px;
    background-image: url(image/image\ 10.png);
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;
}
.titre{
    margin-top: 150px;
    margin-left: 400px;
    color: #E9D473;
}
.DIV_TAHT{
    width: 1500px;
    height: 650px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.SMALL-DIV h1{
    font-size: 45px;
    padding: 30px;
    color:rgb(255, 255, 255);
}
.SMALL-DIV {
    margin-top: 100px;
    width: 400px;
    height: 300px;
    background-color:#16080088;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
}
 .nwan{
    font-size: 50px;
    color: #E9D473;
    
}
.KETBA {
    
    background-color: #160800c1;
    width: 1350px;
    height: 205px;
    
    z-index: 10;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgb(230, 254, 120);
    overflow: hidden;
}


.WAW {

    line-height: 2.8;
    text-align: center;
    color: white;
    margin: 2px;
    font-size: 16.5px;
    border-radius: 30px;
    padding: 10px;
}

.KETBA:hover {
    height: 1000px;
}



h1 {
    
    color: #F4E780;
}